@page "/aeronave"

<h4>Cadastro de Aeronaves</h4>

<div class="mb-3">
    <label for="modelo" class="form-label">Modelo</label>
    <input type="text" class="form-control" id="modelo">
</div>
<div class="mb-3">
    <label for="fabricante" class="form-label">Fabricante</label>
    <textarea class="form-control" id="fabricante" rows="3"></textarea>
</div>
<div class="mb-3">
    <label for="codigo" class="form-label">Codigo</label>
    <textarea class="form-control" id="codigo" rows="3"></textarea>
</div>
<button type="button" class="btn btn-outline-primary">Cadastrar</button>

<TabelaAeronave/>